
  body {
    background:url(trees.png); 
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
  }
  
  header {
    color: #777;
    background:#ffffff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 50px;
    width: 100%;
  }

  nav{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    color: #777777; 
  }
  
  a{
    text-decoration: none;
  }

  section {
    padding: 20px;
    height: 450px;
    color: #4aaaa5;
    background:#ffffff;
    width: 960px;
    margin-left: 445px;
  }
  
  h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-left: 445px;
    margin-right: 1200px;
    position: relative;
    color: #ffffff;
    background:#4aaaa5;
    height: 50px;
  }

  h2{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-left: 444px;
    margin-bottom:20px;
    position: relative;
    color: #4aaaa5;
    background:#ffffff;
  }

  footer {
    padding: 20px;
    background: #666666;
    
  }

  
